[Unit]
Description=HOMEd Automation Service

[Service]
ExecStart=/usr/bin/homed-automation
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
